.info-card{
  display: flex;
  flex-direction: column;
}

.info-card__img {
  margin: 0 auto;
  object-fit: cover;
}

.info-card__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: #F2F3EE;

}

.info-card__date {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(29, 37, 45, 0.5);
  margin-bottom: 10px;
}

.info-card__heading {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin: 0 0 10px;
}

.info-card__desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 20px;
}

.info-card__footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.info-card__footer-views-number {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(29, 37, 45, 0.5);
}

.info-card__footer-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  border-radius: 40px;
  background-color: rgba(214, 210, 196, 1);
  padding: 7px 73px;
}